<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('申请个人会员注册')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-personal-add">
        	<input name="gId" type="hidden" id="treeId"/>
        	<div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>归属团体：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                    	<input name=gName onclick="selectGroupTree()" id="treeName" type="text" placeholder="请选择归属团体" class="form-control" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">    
                <label class="col-sm-3 control-label">个人编号：</label>
                <div class="col-sm-8">
                    <input name="pCode" class="form-control" type="text">
                </div>
            </div> -->
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="pName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <input name="cardId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户性别：</label>
                <div class="col-sm-8">
                    <select name="pSex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
		                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
		            </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="birthDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">照片上传：</label>
                <div class="col-sm-8">
                    <input name="photo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">个人介绍：</label>
                <div class="col-sm-8">
                    <input name="personalProfile" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">社团职务：</label>
                <div class="col-sm-8">
                    <input name="groupPost" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">籍贯：</label>
                <div class="col-sm-8">
                    <input name="nativePlace" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">常驻住址：</label>
                <div class="col-sm-8">
                    <input name="permanentAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮编：</label>
                <div class="col-sm-8">
                    <input name="postalCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所在单位：</label>
                <div class="col-sm-8">
                    <input name="placeUnit" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位职务：</label>
                <div class="col-sm-8">
                    <input name="unitPosition" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">个人职称：</label>
                <div class="col-sm-8">
                    <input name="personalTitle" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">会员有效期：</label>
                <div class="col-sm-8">
                	<select name="memberValid" class="form-control m-b">
						<option value="">是否在缴费有效期内</option>
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
                    <!-- <input name="memberValid" class="form-control" type="text"> -->
                </div>
            </div>
           <!--  <div class="form-group">    
                <label class="col-sm-3 control-label">删除标志：</label>
                <div class="col-sm-8">
                    <input name="delFlag" class="form-control" type="text">
                </div>
            </div> -->
             <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>登录账号：</label>
                <div class="col-sm-8">
                    <input id="loginName" name="loginName" placeholder="请输入登录账号" class="form-control" type="text" maxlength="30" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>登录密码：</label>
                <div class="col-sm-8">
                    <input name="password" placeholder="请输入登录密码" class="form-control" type="password" th:value="${@config.getKey('sys.user.initPassword')}" required>
                </div>
            </div>
             <div class="form-group">
                 <label class="col-sm-3 control-label"><span style="color: red; ">*</span>手机号码：</label>
                 <div class="col-sm-8">
                     <input id="phonenumber" name="phonenumber" placeholder="请输入手机号码" class="form-control isPhone" type="text" maxlength="11" required>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-sm-3 control-label"><span style="color: red; ">*</span>邮箱：</label>
                 <div class="col-sm-8">
                     <input id="email" name="email" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱" required>
                 </div>
             </div>
        </form>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>提交</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="window.close()"><i class="fa fa-close"></i>关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        var prefix = ctx + "coc/personal"
        $("#form-personal-add").validate({
        	onkeyup: false,
        	rules:{
        		loginName:{
        			minlength: 2,
        			maxlength: 20,
        			remote: {
                        url: prefix + "/checkLoginNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                        	"loginName": function() {
                                return $.common.trim($("#loginName").val());
                            }
                        },
                        dataFilter: function(data, type) {
                        	return $.validate.unique(data);
                        }
                    }
        		},
        		password:{
        			minlength: 6,
        			maxlength: 20
        		},
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                }
            },
            focusCleanup: true
        });
        // 注册
        function register(url, data, callback) {
         	var config = {
     	        url: url,
     	        type: "post",
     	        dataType: "json",
     	        data: data,
     	        beforeSend: function () {
     	        	$.modal.loading("正在处理中，请稍后...");
     	        	$.modal.disable();
     	        },
     	        success: function(result) {
     	        	layer.alert("注册成功", {
             	        icon: $.modal.icon("success"),
             	        title: "系统提示",
             	        btn: ['确认'],
             	        btnclass: ['btn btn-primary'],
             	    },function(index){
 	    	        	//window.close();
 	    	        	window.location.href="/blog";   
             	    });
     	        }
     	    };
     	    $.ajax(config)
         }
        function submitHandler() {
            if ($.validate.form()) {
            	register(prefix + "/register", $('#form-personal-add').serialize());
            }
        }

        $("input[name='birthDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
        /*选择团体*/
        function selectGroupTree() {
        	var url = ctx + "coc/group/selectGroupTree/" + $("#treeId").val();
			console.log(url)
        	var options = {
				title: '选择团体',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			 var body = layer.getChildFrame('body', index);
             $("#treeId").val(body.find('#treeId').val());
             $("#treeName").val(body.find('#treeName').val());
             layer.close(index);
		}
    </script>
</body>
</html>